Eigen/
obj
main
data/
*.png
*.zip
.tags
output
*.pyc
build/
CMakeCache.txt
CMakeFiles/
src/CMakeFiles/
src/*.jpg
src/image_stitching
MakeFile
src/MakeFile
log
*~
*.o
*-report
*.so
*.vcxproj
*.vcxproj.*
*.VC
*.VC.*
*.sln
Win32/
ipch/
Debug
cmake_install.cmake
src/cmake_install.cmake
.vs/
.vscode/
