PANO 0
TRANS 0
CROP 1
OUTPUT_SIZE_FACTOR 2

NUM_OCTAVE 4
NUM_SCALE 6
SCALE_FACTOR 1.4142135623
GAUSS_SIGMA 1.4142135623
GAUSS_WINDOW_FACTOR 6

JUDGE_EXTREMA_DIFF_THRES 5e-3
#JUDGE_EXTREMA_DIFF_THRES 1e-3

CONTRAST_THRES 6e-2
#CONTRAST_THRES 3e-2
#lowe: 3e-2
PRE_COLOR_THRES 5e-2
#PRE_COLOR_THRES 5e-3
EDGE_RATIO 6
#EDGE_RATIO 10
#lowe: 10

CALC_OFFSET_DEPTH 4
OFFSET_THRES 0.3
#lowe 0.5

ORI_WINDOW_FACTOR 1.5
#lowe
ORI_RADIUS 4.5

ORT_HIST_SMOOTH_COUNT 2
ORT_HIST_PEAK_RATIO 0.8
#lowe : 0.8

DESC_HIST_REAL_WIDTH 3
DESC_NORM_THRESH 0.2
#lowe
DESC_INT_FACTOR 512

MATCH_REJECT_NEXT_RATIO 0.8
#lowe : 0.8
MATCH_MIN_SIZE 0
CONNECTED_THRES 0.07
#matched feature percentage higher than this

RANSAC_ITERATIONS 30
RANSAC_INLIER_THRES 2

SLOPE_PLAIN 6e-3
